*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/OCR/License-Plate-Recognition/.venv
/OCR/License-Plate-Recognition/model
/OCR/License-Plate-Recognition/training
/OCR/License-Plate-Recognition/yolov5
